{:paths ["src" "resources" #_"classes"]
 :deps
 {org.clojure/clojure       {:mvn/version "1.10.2-alpha1"}
  ring/ring-core            {:mvn/version "1.8.1"}
  http-kit                  {:mvn/version "2.3.0"}
  org.clojure/data.json     {:mvn/version "1.0.0"}
  mount                     {:mvn/version "0.1.16"}
  hiccup                    {:mvn/version "1.0.5"}
  net.solovyov/markdown-clj {:mvn/version "1.10.1-1"
                             :exclusions  [org.clojure/tools.reader]}
  seancorfield/next.jdbc    {:mvn/version "1.0.462"}
  ;; org.xerial/sqlite-jdbc    {:mvn/version "3.31.1"}
  org.slf4j/slf4j-api       {:mvn/version "1.7.30"}
  org.slf4j/slf4j-simple    {:mvn/version "1.7.30"}}

 :jvm-opts ["-Djava.net.preferIPv4Stack=true"
            "-Djava.net.preferIPv4Addresses=true"]

 :aliases
 {:dev {:extra-deps {nrepl                   {:mvn/version "0.7.0"}
                     cider/cider-nrepl       {:mvn/version "0.25.0"}
                     refactor-nrepl          {:mvn/version "2.5.0"}
                     clj-commons/pomegranate {:mvn/version "1.2.0"}}
        :main-opts  ["-i dev/user.clj"
                     "-m nrepl.cmdline -i"
                     "--middleware [\"cider.nrepl/cider-middleware\",\"refactor-nrepl.middleware/wrap-refactor\"]"]}

  :uber {:deps      {uberdeps {:mvn/version "0.1.10"}}
         :jvm-opts  ["-Dclojure.compiler.direct-linking=true"
                     "-Dclojure.spec.skip-macros=true"]
         :main-opts ["-m uberdeps.uberjar"
                     "--target target/piu.jar"
                     "--main-class piu.main"]}

  :native {:main-opts ["-m clj.native-image piu.main"
                       "--language:js"
                       ;; optional native image name override
                       "-H:Name=piu"
                       "-H:+TraceClassInitialization"
                       "-H:+ReportExceptionStackTraces"
                       "-H:+RemoveSaturatedTypeFlows"
                       "-H:ResourceConfigurationFiles=resource-config.json"
                       "--initialize-at-build-time"
                       "--report-unsupported-elements-at-runtime"
                       "--no-server"]
           :jvm-opts  ["-Dclojure.compiler.direct-linking=true"
                       "-Dclojure.spec.skip-macros=true"]
           :extra-deps
           {clj.native-image
            {:git/url "https://github.com/taylorwood/clj.native-image.git"
             :sha     "602587dfb5243ea8c72ed3e967c37c1f9d611723"}}}

  :ancient {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
            :main-opts  ["-m" "depot.outdated.main"]}}}
