{:paths ["src" "resources" #_"classes"]
 :deps
 {org.clojure/clojure {:mvn/version "1.12.2"}

  ring/ring-core            {:mvn/version "1.15.2"}
  http-kit/http-kit         {:mvn/version "2.8.1"}
  com.cnuernber/charred     {:mvn/version "1.037"}
  mount/mount               {:mvn/version "0.1.23"}
  hiccup/hiccup             {:mvn/version "2.0.0"}
  ;; org.xerial/sqlite-jdbc    {:mvn/version "3.31.1"}
  ;; com.github.seancorfield/next.jdbc {:mvn/version "1.2.761"}
  org.slf4j/slf4j-api       {:mvn/version "2.0.17"}
  org.slf4j/slf4j-simple    {:mvn/version "2.0.17"}
  net.solovyov/markdown-clj {:mvn/version "1.12.3-2"}
  ;; it depends on clj-yaml and brings so much stuff in
  ;;markdown-clj/markdown-clj   {:mvn/version "1.12.3"}
  ;; maybe this one?
  ;; https://github.com/nextjournal/markdown

;;; to initialize clojure classes at build time
  com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}

 :jvm-opts ["-Djava.net.preferIPv4Stack=true"
            "-Djava.net.preferIPv4Addresses=true"]

 :aliases
 {:main  {:exec-fn piu.main/-main}
  :dev   {:extra-paths ["dev"]}
  :nrepl {:extra-deps {nrepl/nrepl                   {:mvn/version "1.4.0"}
                       cider/cider-nrepl             {:mvn/version "0.57.0"}
                       refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}
                       clj-commons/pomegranate       {:mvn/version "1.2.25"}}
          :main-opts  ["-i" "dev/user.clj"
                       "-e" "(start)"
                       "-m" "nrepl.cmdline"
                       "-i"
                       "--middleware" "[\"cider.nrepl/cider-middleware\",\"refactor-nrepl.middleware/wrap-refactor\"]"]}

  :build {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.10"}}
          :jvm-opts   ["-Dclojure.compiler.direct-linking=true"
                       "-Dclojure.spec.skip-macros=true"]
          :ns-default build}

  :ancient {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core"]}}}
