html { font-family: Helvetica, sans-serif;
       background-color: white; /* for those with strange default color ;-) */}
body { margin: 0; font-size: 1rem; }
img { border: 0; }
header, #content { margin: 0 auto; width: 90%; }
header h1 { margin: 0.3em 5%; font-size: 2em;
            font-family: Helvetica, sans-serif; }
h1 a, h2 a, h3 a { text-decoration: none; color: black; }

/*** Layout */

html { height: 100%; }
body { min-height: 100%; }
.flex { display: flex; }
.flexv { display: flex; flex-direction: column; }
.unit { flex: 1; }
footer { display: flex; justify-content: center; }


.hot { cursor: pointer; text-decoration: none; border-bottom: dashed; border-width: 1px;
       padding-top: 1px; color: black; }
.hot.selected { border-bottom: none; }

input[type="submit"] { font-size: 1.5em; width: 5em; }
#text { display: block; margin: 0.5em 0; border-radius: 5px; }

textarea, .line, .code {
    font-family: Monaco, Consolas, Menlo, 'Courier New', monospace; font-size: inherit;}

table { border-spacing: 0;
        border-collapse: collapse;
        width: 100%; }
.line { white-space: nowrap;
        user-select: none;
        cursor: pointer;
        text-align: right;
        vertical-align: top;
        border-right: 1px dashed #bbb;
        padding: 0 3px; }
.code { padding: 0 0 0 1em;
        white-space: pre;
        width: 100%;
        text-align: left;
        vertical-align: top; }

.code:hover, .code.over { background-color: #ffffe3; }
.selected { background-color: #fafab0; }
.selecting { background-color: #b0b0fa; }

.meta { background-color: #f5f5f5; padding: 0.5em;
        border-top: 1px dashed #bbb; border-bottom: 1px dashed #bbb;
        white-space: nowrap; overflow: scroll; }
.note { color: grey; padding: 0.1em 0.5em; }
.right { float: right; }

footer { border-top: solid 1px; background-color: #f5f5f5; margin: 1em 0 0 0; }
footer a { color: black; }

/* Wrapping */

.wrap .line, .wrap .note { display: none; }
.wrap .code { white-space: pre-wrap; }
